* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(67, 120, 244);
}


.img-container {
    width: 200px;
    height: 200px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.img-container-2 {
    width: 100px;
    height: 100px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        border: none;
        object-fit: cover;
    }
}

table {
    border-collapse: collapse;
}

td {
    width: 33px;
    height: 33px;
    border: 2px solid white;

}

.container-type-1,
.container-type-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    width: 70%;
    height: 70%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .circle {
        width: 35%;
        height: 35%;
        border-radius: 50%;
        background-color: red;
    }
}

.green-side {
    background-color: greenyellow;
}

.red-side {
    background-color: red;
}

.yellow-side {
    background-color: yellow;
}

.blue-side {
    background-color: blue;
}

.red-border {
    border: 3px solid red;
    border-radius: 5px;
}

.green-border {
    border: 3px solid green;
    border-radius: 5px;
}

.blue-border {
    border: 3px solid blue;
    border-radius: 5px;
}

.yellow-border {
    border: 3px solid yellow;
    border-radius: 5px;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .container-type-1,
    .container-type-2,
    .inner {
        transform: scale(0.8);
    }
}