* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(8, 8, 8);
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.card {
    border: 1px groove white;
    width: 100%;
    max-width: 300px;
    background-color: white;
    color: aqua;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-size: large;
    border-radius: 8px;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
    transform-origin: center;
}


.card:hover {
    transform: rotateZ(15deg);
}


.main {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}


.card>img {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: contain;
    border-radius: 6px;
}


.card .learn-more {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #000; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.card .learn-more:hover {
  background-color: #333; 
}