* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../fourm/images/85zj2bc7qwj31.webp);
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

div {
    height: 400px;
    width: 27%;
    padding: 25px;
    background-color: #222;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    border-top: 4px solid black;
    border-right: 4px solid aqua;
    border-bottom: 4px solid black;
    border-left: 4px solid magenta;
}

h1 {
    margin-top: 6.5px;
    color: aqua;
}

label {
    margin-top: 20px;
    color: gray;
}

input {
    margin-top: 15px;
    background-color: #333;
    height: 40px;
    width: 96.5%;
    border: none;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
}

input::placeholder {
    color: white;
}

input:focus {
    outline: none;
}

button {
    width: 99%;
    border: none;
    height: 38px;
    margin-top: 25px;
    border-radius: 15px;
    background-color: aqua;
    box-shadow: 0px 0px 25px aqua;
}

button:hover {
    cursor: pointer;
}

p {
    color: white;
    font-size: 15.5px;
}

b {
    color: mediumvioletred;
}

b:hover {
    cursor: pointer;
}

.change {
    margin-top: 10px;
} 

@media (max-width: 1040px) {
    div {
        height: 400px;
        width: 40%;
        padding: 25px;
        background-color: #222;
        border-top-left-radius: 45px;
        border-bottom-right-radius: 45px;
        border-top: 4px solid black;
        border-right: 4px solid aqua;
        border-bottom: 4px solid black;
        border-left: 4px solid magenta;
    }
}

@media (max-width: 830px) {
    div {
        height: 400px;
        width: 45%;
        padding: 25px;
        background-color: #222;
        border-top-left-radius: 45px;
        border-bottom-right-radius: 45px;
        border-top: 4px solid black;
        border-right: 4px solid aqua;
        border-bottom: 4px solid black;
        border-left: 4px solid magenta;
    }
}

@media (max-width: 730px) {
    div {
        height: 400px;
        width: 50%;
        padding: 25px;
        background-color: #222;
        border-top-left-radius: 45px;
        border-bottom-right-radius: 45px;
        border-top: 4px solid black;
        border-right: 4px solid aqua;
        border-bottom: 4px solid black;
        border-left: 4px solid magenta;
    }
}

@media (max-width: 636px) {
    div {
        height: 400px;
        width: 60%;
        padding: 25px;
        background-color: #222;
        border-top-left-radius: 45px;
        border-bottom-right-radius: 45px;
        border-top: 4px solid black;
        border-right: 4px solid aqua;
        border-bottom: 4px solid black;
        border-left: 4px solid magenta;
    }
}

@media (max-width: 525px) {
    div {
        height: 400px;
        width: 65%;
        padding: 25px;
        background-color: #222;
        border-top-left-radius: 45px;
        border-bottom-right-radius: 45px;
        border-top: 4px solid black;
        border-right: 4px solid aqua;
        border-bottom: 4px solid black;
        border-left: 4px solid magenta;
    }
}

@media (max-width: 480px) {
    div {
        height: 400px;
        width: 75%;
        padding: 25px;
        background-color: #222;
        border-top-left-radius: 45px;
        border-bottom-right-radius: 45px;
        border-top: 4px solid black;
        border-right: 4px solid aqua;
        border-bottom: 4px solid black;
        border-left: 4px solid magenta;
    }
}