* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-image: url(./img/aron-visuals-GdP2aN8GS7k-unsplash.jpg);
}

.container {
    width: 70%;
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 60px;
    align-items: center;
}

/* LEFT SIDE */
.left small {
    align-items: center;
    background: white;
    padding: 10px 15px;
    border-radius: 999px;
}

.left h1 {
    font-size: 56px;
    font-weight: 800;
    line-height: 1.3;
    margin-bottom: 16px;
    color: white;
}

.left h1 span {
    color: rgb(245, 5, 97);
}

.left p {
    font-weight: 600;
    letter-spacing: 0.04em;
    color: white;
}

/* CARD */
.card {
    overflow: hidden;
    color: #f8f8f8;
    box-shadow: 0px 0px 0px 5px gold;
}

.card-image {
    height: 260px;
    background-image: url("./img/img\ bg.jpg");
    background-size: cover;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    font-size: 25px;
    font-weight: 800;
    color: white;
}

.card-content p {
    color: #ffffff;
    line-height: 1.6;
    font-size: 15px;
}

.card-footer {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 24px 28px 28px;
    border-top: 1px solid #eef2f7;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-image: url("https://i.pravatar.cc/100");
    background-size: cover;
}

.author h4 {
    font-size: 14px;
    font-weight: 700;
}

.author span {
    font-size: 12px;
    color: #104691;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .left h1 {
        font-size: 36px;
    }

    body {
        padding: 20px;
        height: auto;
    }
}